<?xml version='1.0' encoding='utf-8'?>
<database>
  <name>Ignition Fuel Model Database</name>
  <license>Creative Commons Attribution 3.0 Unported</license>
  <models>
    <uri>XRayMachine</uri>
    <uri>IVStand</uri>
    <uri>BloodPressureMonitor</uri>
    <uri>BPCart</uri>
    <uri>BMWCart</uri>
    <uri>CGMClassic</uri>
    <uri>StorageRack</uri>
    <uri>Chair</uri>
    <uri>InstrumentCart1</uri>
    <uri>Scrubs</uri>
    <uri>PatientWheelChair</uri>
    <uri>WhiteChipChair</uri>
    <uri>TrolleyBed</uri>
    <uri>SurgicalTrolley</uri>
    <uri>PotatoChipChair</uri>
    <uri>VisitorKidSit</uri>
    <uri>FemaleVisitorSit</uri>
    <uri>AdjTable</uri>
    <uri>MopCart3</uri>
    <uri>MaleVisitorSit</uri>
    <uri>Drawer</uri>
    <uri>OfficeChairBlack</uri>
    <uri>ElderLadyPatient</uri>
    <uri>ElderMalePatient</uri>
    <uri>InstrumentCart2</uri>
    <uri>MetalCabinet</uri>
    <uri>BedTable</uri>
    <uri>BedsideTable</uri>
    <uri>AnesthesiaMachine</uri>
    <uri>TrolleyBedPatient</uri>
    <uri>Shower</uri>
    <uri>SurgicalTrolleyMed</uri>
    <uri>StorageRackCovered</uri>
    <uri>KitchenSink</uri>
    <uri>Toilet</uri>
    <uri>VendingMachine</uri>
    <uri>ParkingTrolleyMin</uri>
    <uri>PatientFSit</uri>
    <uri>MaleVisitorOnPhone</uri>
    <uri>FemaleVisitor</uri>
    <uri>MalePatientBed</uri>
    <uri>StorageRackCoverOpen</uri>
    <uri>ParkingTrolleyMax</uri>
  </models>
</database>
