<?xml version="1.0"?>
<model>
  <name>Fisheye Camera</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>
  <author>
    <name>My name</name>
    <email>e-mail@example.com</email>
  </author>
  <description>
    A simple fish-eye camera with a box for visualization.
  </description>
</model>
